@import "../node_modules/bootstrap/scss/bootstrap";

/* LiveView specific classes for your customizations */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}

.phx-disconnected * {
    pointer-events: none;
}

.alert:empty {
    display: none;
}

.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.list-group-item a {
    text-decoration: none !important;
    text-decoration-color: red;
}

.list-group-item a {
    text-decoration: underline;
    text-decoration-color: white;
}

.list-group-item a:hover {
    text-decoration: underline !important;
    text-decoration-color: white !important;
}

.checkbox {
    clip-path: circle(46% at 50% 50%);
}

.list-group-item {
    border-radius: 0px;
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-radius: 0;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: var(--bs-white);
}

@media (max-width: 768px) {
    .list-group-item {
        width: 60vw;
    }
}

@media (max-width: 576px) {
    .list-group-item {
        width: 100vw;
    }
}

@media (max-width: 992px) {
    .list-group-item {
        width: 60vw;
    }
}

@media (min-width: 992px) {
    .list-group-item {
        width: 60vw;
    }
}

#seach-input {
    background: rgb(227, 227, 227);
    margin-right: 1vw;
}

#body {
    background: #343434;
    height: 100vh;
}

.list-group-item {
    position: relative !important;
    .progress {
        background: #343434;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .content {
        position: relative;
        z-index: 1;
    }
}

#list_items {
    margin-top: 3vh;
}

#item-form {
    margin-top: 3vh;
}